.betamessage {
	background-color: #111;
	color: #fff;
	display: none;
	font-size: .9em;
	margin: 0;
	padding: 1rem;
	position: relative;
	text-align: center;
	z-index: 999;
}
.betamessage a {
	color: #fff !important;
	text-decoration: underline;
}
.betamessage a:hover,
.betamessage a:focus {
	color: #ddd  !important;
	text-decoration: none;
}
.betamessage .betamessage-close {
	float: right;
}
.betamessage-tag {
	background-color: #EB4600;
	color: #111;
	font-weight: bold;
	padding: .25rem .75rem;
	text-transform: uppercase;
	z-index: 998;
}
a.betamessage-open {
	color: #111 !important;
	left: 0;
	position: absolute;
	text-decoration: none !important;
	top: 0;
}
a.betamessage-open:hover,
a.betamessage-open:focus {
	text-decoration: underline !important;
}
@media screen and (max-width: 980px) {
	.betamessage-text {
		display: inline-block;
		padding-right: 90px;
		text-align: left;
	}
  .betamessage .betamessage-close {
		position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
/* Light theme */
.betamessage-light {
	background-color: #eee;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	color: #111;
}
.betamessage-light a {
	color: #111 !important;
}
.betamessage-light a:hover,
.betamessage-light a:focus {
	color: #333 !important;
}
/* Pilot tag variation */
.betamessage-pilot {
	background-color: #31B2EF;
}
/* Alpha tag variation */
.betamessage-alpha {
	background-color: #D163D7;
}
